body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: center;
  background: linear-gradient(135deg, #0f172a, #1e3a8a, #06b6d4);
}


.light {
  background: linear-gradient(135deg, #e0f2fe, #f1f5f9);
  color: black;
}


.brand h1 {
  font-size: 42px;
  margin-top: 40px;
  background: linear-gradient(45deg, #22c55e, #06b6d4);
  -webkit-background-clip: text;
  color: transparent;
}

.brand p {
  opacity: 0.8;
}


.box {
  width: 300px;
  margin: 30px auto;
  padding: 25px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  border-radius: 15px;
}


input, select {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  background: rgba(255,255,255,0.2);
  color: white;
}


button {
  width: 95%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #22c55e, #06b6d4);
  color: white;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}


.link {
  color: cyan;
  cursor: pointer;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  padding: 15px;
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
}

.top-card {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background: rgba(255,255,255,0.1);
}

li {
  margin: 5px;
  padding: 8px;
  background: rgba(255,255,255,0.1);
}

/* COLORS */
.cancel { color: red; }
.keep { color: green; }
.consider { color: orange; }
